@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #5E4242;
}

#cabecalho{
    background-image: url(./dono.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 30%;
    opacity: 80%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.438);
}

#btnLogin {
    padding: 7px;
    margin-left: 30px;
    cursor: pointer;
}

#cabecalho h1{
    display: inline-block;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.753);
    margin-top: 100px;
    margin-left: 35.5%;
    font-size: 5em;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
}

#cabecalho nav{
    margin-top: 45px;
    margin-left: 25px;
}

#cabecalho a{
    margin-left: 10px;
    margin-right: 25px;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
    transition: 0.4s;
}

#cabecalho a:hover{
    font-size: 2.7em;
    transition: 0.4s;
}

#dado{
    background-color: #444444d7;
    height: 140px;
}

#dado h2{
    font-family: 'Amatic SC', cursive;
    margin-left: 30px;
    padding-top: 20px;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.473);
    font-size: 34px;
}

#dice{
    margin-left: 62px;
    margin-top: 10px;
    width: 100px;
    height: 42px;
    font-size: 1.5em;
    border-radius: 0;
    background-color: #979797;
    color: white;  
    cursor: pointer;
}

#dice-image img{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 315px;
    cursor: pointer;
}

#dice-text{
    color: white;
    display: inline-block;
    position: absolute;
    left: 982px;
    top: 400px;
    font-size: 1.5em;
}

#corpo-container-mheryda{
    background-color: #5E4242;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.438);
    background-image: url(mherylda.jpg);
    background-attachment: fixed;
    background-size: 40%;
    padding-top: 0.32px;
}

#container-mheryda{
    margin: auto;
    width: 70%;
    background-color: #cececed2;
}

#mheryda{
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    padding-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #464646;
}

#mheryda ul, li{
    text-align: left;
    font-family: 'Dancing Script', cursive;
    line-height: 30px;
    margin-bottom: 25px;
}

#mheryda h2{
    margin-bottom: 30px;
    padding-top: 40px;
    line-height: 45px;
    font-family: 'Dancing Script', cursive;
}

#mheryda h3{
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
}

#mheryda p{
    font-family: 'Dancing Script', cursive;
    line-height: 40px;
    margin-bottom: 25px;
}

